<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/view/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Custom table</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>
                    Nom
                    <div class="search">
                        <i class="fas fa-search"></i>
                        <input type="text" id="name">
                    </div>
                </th>
                <th>
                    Team
                    <div class="search">
                        <i class="fas fa-search"></i>
                        <input type="text" id="team">
                    </div>
                </th>
            </tr>
        </thead>

        <tbody id="data-display">
            <tr class="active">
                <td>1</td>
                <td>Rindra Hosea</td>
                <td>GPAO</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rindra Hosea</td>
                <td>GPAO</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rindra Hosea</td>
                <td>GPAO</td>
            </tr>
        </tbody>
    </table>

    <script src="/view/js/main.js" type="module"></script>
</body>
</html>