.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-size: cover;

    &__name{
        font-size: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #fff;

        &--last{
            color: $secondary-color;
            font-weight: 700;
        }
    }
}