<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="">
    <div class="main">
        <p class="main__paragraph1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere neque dignissimos facilis corporis quod voluptates libero atque vero consequatur perspiciatis.</p>
        <p class="main__paragraph2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius atque amet voluptatum ipsam veniam cum distinctio accusantium error tempora aperiam.</p>
    </div>
</body>
</html>